# Environment Configuration
NODE_ENV=development

# CORS Configuration
ALLOW_ALL_ORIGINS=true

# Frontend URL Configuration
FRONTEND_URL=https://workshopfrontend-one.vercel.app

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/mechanics

# JWT Secret
JWT_SECRET=your_jwt_secret

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Email Configuration
EMAIL_USER=aryanarshad5413@gmail.com
EMAIL_PASS=gvyqmapsqsrrtwjm

# DVLA API Key
DVLA_API_KEY=your_dvla_api_key

# Server Configuration
PORT=5001 